.calcBody {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 60%;
  height: 80vh;
  border: solid 3px black;
  font-size: 2rem;
  grid-template-areas: 
    "calcFirtsRow calcFirtsRow calcFirtsRow calcFirtsRow"
    "AC plusMinus reminder div"
    "seven eigth nine mult"
    "four five six sub"
    "one two trhee plus"
    "cero cero cero equal"; 
}

.calcFirtsRow { grid-area: calcFirtsRow; }
.AC { grid-area: AC; }
.plusMinus { grid-area: plusMinus; }
.reminder { grid-area: reminder; }
.seven { grid-area: seven; }
.eigth { grid-area: eigth; }
.nine { grid-area: nine; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.sub { grid-area: sub; }
.div { grid-area: div; }
.mult { grid-area: mult; }
.one { grid-area: one; }
.two { grid-area: two; }
.trhee { grid-area: trhee; }
.plus { grid-area: plus; }
.cero { grid-area: cero; }
.equal { grid-area: equal; }

.calcFirtsRow {
  display: flex;
  background-color: gray;
  justify-content: flex-end;
  align-items: center;
}

button {
  border: solid 1px gray;
  font-size: 1.5rem;
}

.calcFirtsRow p {
  padding: 10px;
}


.leftCalc {
  background-color: rgb(180, 180, 180);
}

.rightCalc {
  background-color: rgb(214, 139, 0);
}